* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik Mono One', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container {
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;
}


nav {
    position: fixed;
    top: 5vh;
    right: 4vw;
    z-index: 99;
}

nav li a {
    text-decoration: none;
}

nav li  {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 100%;
}

nav li:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

.text {
    color: yellow;
}

.text-green{
    color: green;
}

h2 {
    font-size: 40px;
}